<p id="notice"><%= notice %></p>

<p>
  <b>Obj type:</b>
  <%= @like.obj_type %>
</p>

<p>
  <b>Obj:</b>
  <%= @like.obj_id %>
</p>

<p>
  <b>User:</b>
  <%= @like.user_id %>
</p>


<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
