
<div class="main" style="width:400px">
  <center><p class="lead m-null" style="font-size:40px;">Login</p></center>  
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

          <div class="login-form">
            <div class="form-group">
              <%= f.email_field :email, :autofocus => true, :class => "form-control login-field", :placeholder => "Enter Email" %>
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="form-group">
              <%= f.password_field :password, :autocomplete => "off", :class => "form-control login-field", :placeholder => "Password" %>              
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>
            <% if devise_mapping.rememberable? && false -%>
            <%= f.check_box :remember_me %> <%= f.label :remember_me, :style => "color:#16A085" %>
            <% end -%>
            <%= f.submit "Login", :class => "btn btn-info btn-lg btn-block" %>            
            <a class="login-link" style="font-size:18px;" href="<%= signin_user_url %>">Get Started with Algolint</a>
          </div>

  <% end %>
  <div class="sp10"></div>
<% if(false) %>
  <%= render "devise/shared/links" %>
<% end %>
</div>
<div class="sp50"></div>
<div class="sp30"></div>
